body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    font-size: 18px;
    line-height: 1.4;
    color: #4b4b4d;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../img/background.jpg") center, no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.intro__inner {
    width: 100%;
    max-width: 465px;
    margin: auto 0;

    text-align: left;
}

.intro__subtitle {
    margin: 20px;

    color: #fff;
}


/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 155px;
    height: 65px;
}


/* Nav */
.nav {
    top: 30px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;

    color: #fff;
    text-decoration: none;
}

.nav__link:after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;

    background-color: #16c2a3;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.25s linear;
}

.nav__link:hover:after {
    opacity: 1;
}


/* Button */
.btn {
    font-size: 15px;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #16c2a3;

    display: inline-block;

    margin: 30px 0;
    padding: 15px 35px;
    border-radius: 27.5px;

    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
    font-weight: bold;
    color: #111;
    background: url(../img/btn.png);

    padding: 15px 34.5px;
}

.section .btn {
    background: url(../img/btn-grey.png);
    transition: background 0.2s linear;
}

.section .btn:hover {
    background: url(../img/btn.png);
}

/* Section */
.section {
    display: flex;

    padding: 100px 0;
}

.section__header {
    width: 100%;
    max-width: 680px;

    padding: 130px 0;
    margin: 0 auto;

    text-align: left;
}

.section__title {
    font-size: 36px;
}


/* img */
.img__pc  {
    max-height: 500px;
    max-width: 600px;
}
